@charset "utf-8";
/* reset */
* {
    box-sizing: border-box;
}
body,h1,h2,h3,p,ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}

body {
     background: #f5f5f5;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
     margin-top: 20px;
}
h1 {
    color: #a29bf2;
    
}
.logo img {
    width: 400px;
    height: 400px;
    border-radius: 12px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
